#result, #console {
  float: right;
  font-size:12px;
}

#worksheet {
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  height: 100%;
  width: 99%;
}

#eval {
  float: right;
}