@(workSpace: WorkSpace, language: String)(implicit request: RequestHeader)

@import models.Edits._

@main("REPL") {
  <button id="authorizeButton" disabled>You must authorize</button>
  <form>
      <textarea id="worksheet">@workSpace.code.textValue.asString</textarea>
      <textarea id="results">@workSpace.evaluateCode</textarea>
  </form>

  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/realtime-client-utils.js")"></script>
  <script src="@routes.Assets.at("javascripts/codemirror.js")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/codemirror.css")">
  <script type="text/javascript" charset="utf-8">
    $(function() {
        var programmaticChange = false;

		var editor = CodeMirror.fromTextArea(document.getElementById('worksheet'), {
            lineNumbers: true
        });
        //var results = CodeMirror.fromTextArea(document.getElementById('results'));

        var initializeModel = function(model) {
            var string = model.createString('Hello');
            model.getRoot().set('text', string);
        }

        var onFileLoaded = function(doc) {
            var string = doc.getModel().getRoot().get('text');

            var updateRealTimeString = function(editor) {
                if (!programmaticChange) {
                    string.setText(editor.getValue())
                }
            }

            var updateEditor = function(e) {
                if (!e.isLocal) {
                    var doc = editor.getDoc();
                    var pos = doc.posFromIndex(e.index);
                    programmaticChange = true;
                    doc.replaceRange(e.text, pos);
                    programmaticChange = false;
                }
            }

            editor.on("change", updateRealTimeString)
            string.addEventListener(gapi.drive.realtime.EventType.TEXT_INSERTED, updateEditor);
            string.addEventListener(gapi.drive.realtime.EventType.TEXT_DELETED, updateEditor);
            programmaticChange = true;
            editor.setValue(string.getText());
            programmaticChange = false;
        }

        var realtimeOptions = {
            clientId: '888337082644.apps.googleusercontent.com',
            authButtonElementId: 'authorizeButton',
            initializeModel: initializeModel,
            autoCreate: true,
            defaultTitle: "New Realtime Quickstart File",
            onFileLoaded: onFileLoaded
        }

        var realtimeLoader = new rtclient.RealtimeLoader(realtimeOptions);
        realtimeLoader.start();



        /*var resultPanel = $("#results");
        var bodyWidth = $("body").width();

        $("#worksheet").resizable({
            handles: "e",
            resize: function(event, ui){
                var currentWidth = ui.size.width;

                $(this).width(currentWidth);

                $("#results").width(bodyWidth - currentWidth);
            }
        });

        $("#worksheet").width(bodyWidth - resultPanel.width());*/

    })
  </script>
}