@(workSpace: WorkSpace, language: String)(implicit request: RequestHeader)

@import models.Edits._

@main("REPL", "wtv") {
  <button id="save" class="btn">Save</button>
  <div id="worksheet">@workSpace.code.textValue.asString</div>
  <div id="results">@workSpace.evaluateCode</div>

  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/realtime-client-utils.js")"></script>
  <script src="@routes.Assets.at("javascripts/codemirror.js")"></script>
  <script src="@routes.Assets.at("javascripts/ace.js")" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/codemirror.css")">
  <script type="text/javascript" charset="utf-8">
    $(function() {
        var programmaticChange = false;

		/*var editor = CodeMirror(document.getElementById('worksheet'), {
            lineNumbers: true
        });*/
        var editor = ace.edit("worksheet");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/scala");

        /*var results = CodeMirror(document.getElementById('results'), {
            lineNumbers: true
        });*/
        var results = ace.edit("results");
        results.setTheme("ace/theme/twilight");
        results.getSession().setMode("ace/mode/scala");
        results.setReadOnly(true);

          var initializeModel = function(model) {
            var string = model.createString(editor.getValue());
            model.getRoot().set('text', string);
          }

          var onFileLoaded = function(doc) {
              var string = doc.getModel().getRoot().get('text');

              var updateRealTimeString = function(e) {
                  if (!programmaticChange) {
                    string.setText(editor.getValue())
                  }
              }

              var updateEditor = function(e) {
                  if (!e.isLocal) {
                      var doc = editor.getSession().getDocument();
                      console.log(doc.indexToPosition)
                      var pos = doc.indexToPosition(e.index, 0);
                      programmaticChange = true;
                      console.log(e.type)
                      if (e.type == "text_inserted")
                        doc.insert(pos, e.text)
                      else {
                        var endPos = doc.indexToPosition(e.index + e.text.size, 0);
                        var Range = ace.require('ace/range').Range;
                        var range = new Range(pos.row, pos.column, endPos.row, endPos.column);
                        doc.remove(range);
                      }
                      programmaticChange = false;
                  }
              }

              editor.on("change", updateRealTimeString)
              string.addEventListener(gapi.drive.realtime.EventType.TEXT_INSERTED, updateEditor);
              string.addEventListener(gapi.drive.realtime.EventType.TEXT_DELETED, updateEditor);
              programmaticChange = true;
              console.log(string.getText());
              editor.setValue(string.getText());
              programmaticChange = false;
          }

        var setupCollaboration = function() {

            var realtimeOptions = {
                clientId: '888337082644.apps.googleusercontent.com',
                authButtonElementId: 'save',
                initializeModel: initializeModel,
                autoCreate: true,
                defaultTitle: "New CodeSheet",
                onFileLoaded: onFileLoaded
            }

            var realtimeLoader = new rtclient.RealtimeLoader(realtimeOptions);
            realtimeLoader.start();
        }

        if (rtclient.params['fileId'] || rtclient.params['state'])
        {
          var realtimeOptions = {
              clientId: '888337082644.apps.googleusercontent.com',
              authButtonElementId: 'save',
              initializeModel: initializeModel,
              autoCreate: false,
              defaultTitle: "New CodeSheet",
              onFileLoaded: onFileLoaded
          }

          var realtimeLoader = new rtclient.RealtimeLoader(realtimeOptions);
          realtimeLoader.start();
        }

        var ws = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var evalSocket = new ws("@routes.Application.eval.webSocketURL()")

        var sendCode = function() {
            evalSocket.send(editor.getValue())
        }

        var updateResults = function(e) {
            results.setValue(e.data)
            results.clearSelection();
        }

        editor.on("change", sendCode)
        evalSocket.onmessage = updateResults

        $('#save').click(setupCollaboration)

        var resultPanel = $("#results");
        var bodyWidth = $("body").width();

        $("#worksheet").resizable({
            handles: "e",
            resize: function(event, ui){
                var currentWidth = ui.size.width;

                $(this).width(currentWidth);

                $("#results").width(bodyWidth - currentWidth);
            }
        });

        $("#worksheet").width(bodyWidth - resultPanel.width());

    })
  </script>
}