@main("Credit - CodeSheet", "Credit") {
    <p>CodeSheet is designed and implemented by Jean-Remi Desjardins.</p>
    <br>
    <h3>It has been inspired from pre-existing products:</h2>
    <h4>Scala WorkSheet</h4>
    <p>Scala WorkSheet is an Eclipse plugin developed by TypeSafe. It demonstrated to me the usefulness for some usecases of printing out the result of the expression on each line</p>
    <h4>Light Table</h4>
    <p>Light Table planted in my mind the idea of continous compilation that I thought would benefit CodeSheet</p>
    <p>Feel free to Flattr me if you would like to encourage me to keep developing this product.</p>
}