@main("CodeSheet", "Home") {


    <div class="hero-unit" id="oneone">
            <h2>CodeSheet makes writing simple snippets of code super easy!</h2>

        <ul>
            <li>No configuration</li>
            <li>Instantaneous results</li>
            <li>Google Drive integration</li>
            <li>Realtime collaboration</li>
        </ul>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Scala</h4>
            <p>Scala is a statically typed programming language that boasts one of the most powerful type systems out there</p>
            <a href="/scala">New Scala Codesheet</a>
            <br>
            <a href="/scala/demo1">Demo Scala Codesheet</a>
        </div>

        <div class="span6">
            <h4>Proto</h4>
            <p>A homegrown experimental programming language</p>
            <a href="/jr">New Proto codesheet</a>
            <br>
            <a href="/jr/demo1">Demo Proto Codesheet</a>
        </div>
    </div>
}