@main("CodeSheet", "Home") {


    <div class="hero-unit" id="oneone" style="padding-bottom: 20px;">
            <h2 style="font-size: 48px;">Writing simple snippets of code is a piece of cake</h2>

        <ul>
            <li style="font-size: 30px; line-height: 40px;">No configuration</li>
            <li style="font-size: 30px; line-height: 40px;">Instantaneous results</li>
            <li style="font-size: 30px; line-height: 40px;">Google Drive integration</li>
            <li style="font-size: 30px; line-height: 40px;">Realtime collaboration</li>
        </ul>
    </div>

    <h2>News</h2>

    <ul>
        <li>Version 0.1 of CodeSheet is live.</li>
    </ul>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Scala</h4>
            <p>Scala is a statically typed programming language that boasts one of the most powerful type systems out there</p>
            <a href="/scala">New Scala Codesheet</a>
            <br>
            <a href="/scala/demo1">Demo Scala Codesheet</a>
        </div>

        <div class="span6">
            <h4>Proto</h4>
            <p>A homegrown experimental programming language</p>
            <a href="/jr">New Proto codesheet</a>
            <br>
            <a href="/jr/demo1">Demo Proto Codesheet</a>
        </div>
    </div>
}