@(code: String = "", results: List[String] = Nil)(implicit request: RequestHeader)

@main("REPL") {
  <textarea id="worksheet" cols="100" rows="50" name="code">@code</textarea>
  <div style="position: absolute; top: 10px; left: 10px; height: 200px; width: 820px; pointer-events: none" id="result">
    @results.map { result =>
      <span style="float: right">@result</span>
    }
  </div>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var ws = window['MozWebSocket'] ? MozWebSocket : WebSocket
      var evalSocket = new ws("@routes.Application.update().webSocketURL()")
      
      var sendMessage = function() {
	evalSocket.send($("#worksheet").val())
      }
      
      var receiveResult = function(event) {
	$("#result").html('')
	var data = JSON.parse(event.data)
	
	var offset = 0;
	
	$(data).each(function() {
	  $("#result").append('<span style="right: 0px; position: absolute; top:' + offset + 'px;">' + this + '</span>')
	  //$("#result").append('<p><span style="float: right;">' + this + '</span></p>')
	  offset += 15;
	})
      }
      
      $("#worksheet").keyup(sendMessage)
      
      evalSocket.onmessage = receiveResult
    })
  </script>
}