@(code: String = "", results: List[String] = Nil)(implicit request: RequestHeader)

@main("REPL") {
  <div id="worksheet">@code</div>
  <div id="results">@results.mkString("\n")</div>
  
  <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
        var ignoreChange = false
        var offlineChanges = new Array();

		var editor = ace.edit("worksheet");
		editor.setTheme("ace/theme/twilight");
		editor.getSession().setMode("ace/mode/scala");

        var resultEditor = ace.edit("results");
        resultEditor.setTheme("ace/theme/twilight");
        resultEditor.getSession().setMode("ace/mode/scala");
        resultEditor.setReadOnly(true);
    
        var ws = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var evalSocket = new ws("@routes.Application.update().webSocketURL()")
      
        var sendMessage = function(e) {
            if (!ignoreChange) {
                console.log(e.data)
                offlineChanges.push(e.data)
	            evalSocket.send(JSON.stringify(e.data))
            }
        }
      
        var receiveResult = function(event) {
	        var data = JSON.parse(event.data);
	        console.log(data);
            var codeChange = JSON.parse(data.code)
            console.log(codeChange)
            if (offlineChanges.length == 0/* || offlineChanges[offlineChanges.length - 1] != codeChange*/) {
                ignoreChange = true;
	            editor.getSession().doc.applyDeltas([codeChange]);
                ignoreChange = false;
            }
            else {
                offlineChanges.pop();
            }

	        var offset = 0;

            resultEditor.setValue(data.evaluatedOutput);
         }
      
        editor.on("change",sendMessage)
      
        evalSocket.onmessage = receiveResult

        var resultPanel = $("#results");
        var bodyWidth = $("body").width();

        $("#worksheet").resizable({
            handles: "e",
            resize: function(event, ui){
                var currentWidth = ui.size.width;

                $(this).width(currentWidth);

                $("#results").width(bodyWidth - currentWidth);
            }
        });

      $("#worksheet").width(bodyWidth - resultPanel.width());

    })
  </script>
}